<h1>ログイン</h1>

<%= form_for(:session,url: sessions_path) do |f| %>
	メールアドレス
	<br>
	<%= f.text_field :email %>
	<br>
	パスワード
	<br>
	<%= f.password_field :password %>
	<br>
	<input type="submit" value="ログイン">
<% end %>	