<div id="container" class="container">
	<div id="calendar_box" class="col-md-10">
		<%= render "index_calender" %>
	</div>
	<div id="new_calendar_box" class="col-md-2">
		<div id="new_calendar">
			<h3>new event</h3>
		</div>
	</div>
</div>