<div class="container">
  <div class="row">
    <div class="index">
      <%= render "index_manager" %>
    </div>
    <div id="box2" class="col-md-4">
      <div id="time_box">
        <h2>現在の時刻</h2>
        <h3 id="now_date"></h3>
        <h3 id="time"></h3>
      </div>
    </div>
    <div id="box2" class="col-md-2">
      <div id="category_box">
        <%= link_to "categories" do %>
          <h3>カテゴリー一覧</h3>
        <% end %>
      </div>
    </div>
    <div id="box2" class="col-md-2">
      <div id="category_new_box">
        <%= link_to "category/new/0" do %>
          <h3>カテゴリー追加</h3>
        <% end %>
      </div>
    </div>
    <div id="box2" class="col-md-2">
      <div id="project_new_box">
        <%= link_to "category/new/1" do %>
          <h3>プロジェクト追加</h3>
        <% end %>
      </div>
    </div>
  </div>
  <div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
<script type="text/javascript">
  function set2fig(num) {
     var ret;
     if( num < 10 ) { ret = "0" + num; }
     else { ret = num; }
     return ret;
  }

  function showClock2() {
     var nowTime = new Date();
     var nowYear = set2fig( nowTime.getFullYear() );
     var nowMonth = set2fig( nowTime.getMonth() +1);
     var nowDay = set2fig( nowTime.getDate() );
     var nowHour = set2fig( nowTime.getHours() );
     var nowMin = set2fig( nowTime.getMinutes() );
     var time = nowHour + ":" + nowMin;
     var date = nowYear + "/" + nowMonth + "/" + nowDay;
     document.getElementById("time").innerHTML = time;
     document.getElementById("now_date").innerHTML = date;
  }
  setInterval('showClock2()',1000);
</script>
