<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="time_box">
        <h1 id="now_date"></h1>
      </div>
    </div>
    <%= render "index_manager" %>
  </div>
  <div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
<script type="text/javascript">
  function set2fig(num) {
     var ret;
     if( num < 10 ) { ret = "0" + num; }
     else { ret = num; }
     return ret;
  }

  function showClock2() {
     var nowTime = new Date();
     var nowYear = set2fig( nowTime.getFullYear() );
     var nowMonth = set2fig( nowTime.getMonth() +1);
     var nowDay = set2fig( nowTime.getDate() );
     var nowHour = set2fig( nowTime.getHours() );
     var nowMin = set2fig( nowTime.getMinutes() );
     var time = nowHour + ":" + nowMin;
     var date = nowYear + "." + nowMonth + "." + nowDay;
     document.getElementById("now_date").innerHTML = date + "  " + time;
  }
  setInterval('showClock2()',1000);

$(document).ready(function(){
  $('#calendar-box').fullCalendar({
    defaultView: 'agendaDay',
    events: '/date/json',
    header: {
      left: "today",
      center: "prev,next",
      right:  'agendaWeek,agendaDay',
    },
    nowindicator: true,
    editable: true,
  })
});
</script>