@font-face{
    font-family: "CODE Light";
    src:url("../codelight.otf")  format("truetype");
    font-family: "mplus-1p-light";
    src:url("../mplus-1p-light.ttf") format("truetype");
}

body{
    background-color: #D0D0D0;
}

#top {
    font-size: 30px;
    text-decoration: none;
    color: #777;
    font-family: "CODE Light";
}

header {
    background-color: #4F5456; 
    border-bottom: 3px solid #35393A;
    border-top: 1px solid rgba(255,255,255,0.6);
    height: 42px;
    top: 0;
    width:100%;
    position:fixed;
    z-index: 100;
}

header h1 {
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
    line-height: 30px;
    float: left;
    font-weight: bold;
    margin: 30px 0 0 0;  
}

header #mainNav {
    float: right;
    height:  42px;
    width: 100%;
}

header #logo{
    top:0;
    width:42px;
}


header #mainNav li {
    float: left;
}
header #mainNav li.current a,
header #mainNav li:hover a {
    background: rgba(255,255,255,0.8);
    color: #000;
    text-decoration: none;
}

header #mainNav li a {
    padding: 13px 14px 10px 14px;
    display: block;
    color: #161718;
    text-decoration: none;
    font-size: 15px;
}


#nav {
    margin:0;
    padding: 0;
    list-style: none;
    height: 100%;
    float: right;
}
#nav li{
    width: auto;
    float: right;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

/*clearing method*/
#nav:before,
#nav:after {
    content: "";
    display: table;
}

#nav:after {
    clear: both;
}

#nav {
    zoom:1;
}

/*style for nav*/
#nav ul{
    width: 100%;
}

/*submenus*/
#nav ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .2s ease-in-out;
}

#flip > li{
  perspective: 400px;
}

#flip li ul{
  visibility: hidden;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  transition: .3s;
}

#flip li:hover ul{
  visibility: visible;
  transform: rotateX(0);
}
#nav li:hover > ul {
    opacity: 0.5;
    visibility: visible;
    margin: 0;
}

#nav ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
}

#nav ul li {
    float: none;
    display: block;
    border: 0;
    width: 100%;
}

#nav ul li:hover{
    opacity:0.6;
}

#nav ul li:last-child {
    box-shadow: none;
}

#nav ul a {
    padding: 10px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    width:200px;
}

#nav ul#nav_list{
    left:-160px;
}
#nav ul#nav_list img{
    float:right;
}

#main {
    padding-top: 47px;
    padding-left: 5px;
    color: #161718;
}
