.contant{
}

#nowdate {
	width: auto;
}
.col-md-4{
	padding: 5px;
}

#box{
	height: 380px;
}
#box2{
	height: 190px;
}
.col-md-2{
	height: 190px;
	padding: 5px;
}

#category0{
	background-color: #b22222;
	height: 180px;
	padding: 10px;
}

#category1{
	background-color: #afeeee;
	height: 180px;
	padding: 10px;
}
#category2{
	background-color: #ff00ff;
	height: 180px;
	padding: 10px;
}
#category3{
	background-color: #708790;
	height: 180px;
	padding: 10px;
}
#category4{
	background-color: #fffafa;
	height: 180px;
	padding: 10px;
}
#category5{
	background-color: #ffe4b5;
	height: 180px;
	padding: 10px;
}
#category6{
	background-color: #4682b4;
	height: 180px;
	padding: 10px;
}
#category7{
	background-color: #00a497;
	height: 180px;
	padding: 10px;
}
#category8{
	background-color: #5654a2;
	height: 180px;
	padding: 10px;
}
#category9{
	background-color: #d7003a;
	height: 180px;
	padding: 10px;
}


#box h3,h2{
	margin-top: 0px;
}

#box a{
	text-decoration: none;
}

#note1{
	background-color: #dc143c;
	height: 370px;
	padding: 10px;
}

#note2{
	background-color: #00008b;
	color: #e6e6fa;
	height: 370px;
	padding: 10px;
}

#note3{
	background-color: #00afcc;
	height: 370px;
	padding: 10px;
}

#time_box{
	background-color: #3cb371;
	height: 180px;
	padding:10px;
}

#profile_box{
	background-color: #ff8c00;
	height: 180px;
	padding: 10px;
}

#category_box{
	background-color: #00bfff;
	height: 180px;
	padding: 10px;
}

#category_new_box{
	background-color: #ffebcd;
	height: 180px;
	padding: 10px;
}

#new_note_box{
	background-color: #6b8e23;
	height: 180px;
	padding: 10px;
}

#index_importance_box{
	background-color: #add8e6;
	height: 180px;
	padding: 10px;
}