div.note0{
	background-color: #E6E6FA;
	height: 380px;
	width: 500px;
	padding:10px;
	float:left;
	opacity:0.6;
}

div.note1{
	background-color: #FF69B4;
	height: 380px;
	width: 380px;
	padding:10px;
	float:left;
	opacity:0.8; 
}

div.note2{
	background-color: #FFFF00;
	height: 280px;
	width: 306px;
	padding:10px;
	float:left;
	opacity:0.6;
}

div.note3{
	background-color: #FF7F50;
	height: 260px;
	width: 306px;
	padding:10px;
	float:right;
	opacity:0.8;
}

div.note4{
	background-color: #7CFC00;
	height: 160px;
	width: 285px;
	padding:10px;
	float:right;
	opacity:0.6;
}

div.note5{
	background-color: #00BFFF;
	height: 160px;
	width: 245px;
	padding:10px;
	float:right;
	opacity:0.6;
}

div.note6{
	background-color: #228B22;
	height: 160px;
	width: 175px;
	padding:10px;
	float:right;
	opacity:0.6;
}

div.note7{
	background-color: #0000CD;
	height: 160px;
	width: 135px;
	padding:10px;
	float:right;
	opacity:0.6;
}

