/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require fullcalendar
 *= require_tree .
 *= require_self
*/

@font-face{
    font-family: "CODE Light";
    src:url("../codelight.otf")  format("truetype");
    font-family: "mplus-1p-light";
    src:url("../mplus-1p-light.ttf") format("truetype");
}

body{
    background-color: #FFF6cc;
}

/*#top {
    font-size: 30px;
    text-decoration: none;
    color: #777;
    font-family: "CODE Light";
}*/
h1{
  font-family: "CODE Light", "truetype";
}

#main{
	padding: 5px;
}