input, button, textarea, select {
	background: none;
	margin: 0;
	border-radius: 0;
	border: none;
	outline: none;
	padding: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.modal-dialog{
	width: 40%;
}

.modal-content{
	background-color: #2F1D1D;
	padding: 3px;
}

.embroidery{
	border: dashed 1.5px #DDB994;
	border-radius: 5px;
	padding: 3px;
}

.form{
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	background-color: #FFF6cc;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	box-sizing:border-box;
	color: rgba(0, 0, 0, 0.6);
}

.form_parts{
	width: 100%;
}

.form_bottom{
	padding-top: 5px;
}

.type{
	margin: 0;
	margin-left: 2px;
	color: #2F1D1D;
	opacity: 0.8;
	letter-spacing: 1px;
}

.title{
	max-width: 100%;
	border-top: solid 1px rgba(0, 0, 0, 0.5);
	border-bottom: solid 1px rgba(0, 0, 0, 0.5);
	font-size: 2em;
}

.content_box{
	padding: 0 5px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.textarea{
	width: 100%;
	resize: vertical;
	background: #FFF6cc -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.96, rgba(0, 0, 0, 0)),
    color-stop(0.98, rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  background-size: auto 1.5em;
  overflow: visible;
  margin-top: 5px;
  height: 50vh;
}

#start_time, #end_time{
	box-sizing:border-box;
	background: none;
	border: none;
	outline: none;
	padding: 0;
	width:7em;
	display: inline-block;
}
#time_area{
	text-align: right;

}

fieldset, .category_select, .form_button{
	width: 32%;
	display: inline-block;
	border-right: solid 1px rgba(0, 0, 0, 0.5);
	text-align: left;
}
.form_bottom input:last-child{
	border-right: none;
}

.process{
	width: 100%;
}

.title::-webkit-input-placeholder, .datetimepicker::-webkit-input-placeholder{
  color: #999;
  background-color: #FFF6cc;
  padding: 5px;
	height: 100%;
}

