.modal-dialog{
	width: 40%;
}

.modal-content{
	background-color: #2F1D1D;
	padding: 3px;
}

.embroidery{
	border: dashed 1.5px #DDB994;
	border-radius: 5px;
	padding: 3px;
}

.form{
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	background-color: #FFF6cc;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.type{
	margin: 0;
	margin-left: 2px;
	color: #2F1D1D;
	opacity: 0.8;
	letter-spacing: 1px;
}

.title{
	width: 100%;
	max-width: 100%;
	overflow-x: visible;
	outline: none;
	border: none;
	background: none;
	font-size: 30px;
	appearance: none;
}

hr{
	margin: 10px 0;
	border-color: #999;
	border-width: 1px;
}

.textarea{
	box-sizing:border-box;
	background: none;
	border: none;
	outline: none;
	width: 100%;
	padding: 0;
	resize: none;
	background: #FFF6cc -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.96, rgba(0, 0, 0, 0)),
    color-stop(0.98, rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
    );
  background-size: auto 1.5em;
  overflow: visible;
}

.range{
	box-sizing:border-box;
	outline: none;
	position: absolute;
	opacity: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	/*appearance: none;*/
}

#importance_range{
	position: relative;
	box-sizing:border-box;
	width: 100%;
	z-index: 10;
	left: 0;
	padding: 0;
	height: 30px;
	margin: 5px 0;
}

#start_time, #end_time{
	background: none;
	border: none;
	outline: none;
	padding: 0;
	font-size: 30px;
}

.title::-webkit-input-placeholder,.textarea::-webkit-input-placeholder, .datetimepicker::-webkit-input-placeholder{
  color: #999;
  font-family: "CODE Light", "truetype";
  background-color: #FFF6cc;
  font-size: 30px;
  padding: 0;
	height: 100%;
}


/*.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}*/
