
.particle_main div {
	border-radius: 90%;
	height :100px;
	width: 100px;
	position: relative;
    margin:none;
} 
.partice_title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height:20px;
    text-align:center;
}
/*a {
    display: inline-block;
}*/
