.col-md-4{
	padding: 5px;
}

.col-md-2{
	height: 190px;
	padding: 5px;
}

.box{
	height: 100%;
}

#box a{
	text-decoration: none;
}

#category_box{
	background-color: #00bfff;
	height: 180px;
	padding: 10px;
}

#index_all .note{
	border: 1px solid #999999;
	padding: 10px 5px;
}

#index_all .note h3{
	margin: 0;
}

#index_wrapper h2{
	display: inline-block;

}
#index_wrapper .note_count{
	float: right;
}